<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


  </head>
  <body>
    <nav class="navbar navbar-default navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a  class="navbar-brand"href="/" style='color:white;'>EMPLOYEE DETAIL </a>

        </div>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/signup" style='color:white;'>Sign-Up</li></a>
          <li><a href="/accounts/login/" style='color:white;'>Log-In</li></a>
          <li><a href="/accounts/logout/" style='color:white;'>Log-Out</li></a>
        </ul>
      </div>
    </nav>
    {%block for_child%}
    {% endblock %}

  </body>
</html>
